.card-disa {
 height: 100%;
 box-shadow: 0px 0px 4px 0px;
 cursor: pointer;
}
.card-disa p{
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-disa img {
   width: 50%;
    margin: auto;
 }
 .bold{
    float: right !important;
 }

 .card-body {
    display: flex;
    flex-direction: column;
 }
 .card-body > div:first-of-type {
    flex: 1
 }

 .card-body > div:nth-child(2) {
    display: flex;
    align-items: center;
 }
 i{
    padding: 5px;
 }
 .info{
    background-color: darkgray;
    color: #000000;
    text-decoration: none;
    border: 1px solid #a29b9b;
    margin: 3px;
    margin-left: 0;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .info:hover{
    background-color: #fe7442ec !important;
    color: white;
  }
 